<a href="https://colab.research.google.com/github/AlexTomagan/OOP-58001/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self,bird_name):
    self.bird_name = bird_name
  def flying_birds(self):
    print(f"{self.bird_name} flies above clouds")

  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of Philippines")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above clouds
Common Crane flies above clouds
Emu is the national bird of Philippines

Encapsulation with Private Attributes

In [ ]:
class foo:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def add(self):
    return self.a + self.b

foo_object = foo(3,4)
foo_object.add()

foo_object.a = 6
foo_object.add()

10

Encapsulation

In [ ]:
class Counter:
  def __init__(self):
    self.current = 0

  def increment(self):
        self.current += 1

  def value(self):
        return self.current

  def reset(self):
        self.current = 0

counter = Counter()


counter.increment()
counter.increment()
counter.increment()

print(counter.value())

3

Inheritance

In [ ]:
class person:
  def __init__(self,fname,sname):
    self.fname = fname
    self.sname = sname
  def printname(self):
    print(self.fname,self.sname)

x = person("Alex","Tomagan")
x.printname()

class student(person):
  pass 

x = student("Tomagan","Alex")
x.printname()

Alex Tomagan
Tomagan Alex

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self, side):
    self._side = side
class Square(RegularPolygon):
  def area(self):
    return self._side * self._side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self._side * self._side * 0.433

obj1 = Square(4)
obj2 = EquilateralTriangle(3)

print(obj1.area())
print(obj2.area())

16
3.897

Application 1 - 30% pre, 30% midterm, 40& final = sem grade

In [60]:
class student(person):
  pass
  def __init__(self,name):
    self.name = name
  def printname(self):
    print(self.name)
    
obj1 = student("std1")
print(obj1.name)
obj2 = student("std2")
print(obj2.name)
obj3 = student("std3")
print(obj3.name)

print()
pre = float(input('\tPre : '));
mid = float(input('\tMid : '));
fin = float(input('\tFin: '));
solve_grade= (pre * 0.30) + (mid * 0.30) + (fin * 0.40);
print("\tThe subject grade is {:2.2f}".format(solve_grade));
print();

std1
std2
std3

	Pre : 89
	Mid : 89
	Fin: 99
	The subject grade is 93.00