<a href="https://colab.research.google.com/github/AlexTomagan/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [2]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [8]:
print(bool("fgo"))
print(bool(18))
print(bool(0))
print(bool(1))

True
True
False
True

Function can return a Boolean

In [9]:
def myFunction():
 return True

print(myFunction())

True

In [10]:
def myFunction():
 return True

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [13]:
print (10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Bitwise Operators

In [25]:
#a = 60, binary 0011 1100
#b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

6
7
1
12
24

Application 2

In [18]:
# Assignment Operators
x=2
x+=3 # the same as x = x+3, x=2+3=5
print(x)

5

Logical Operators

In [24]:
k = True
I = False
print(k and I)
print(k or I)
print(not(k or I))

False
True
False

#Control Structure

if statement

In [31]:
v = 1
z = 2 

if 1<2:
  print("1 is less than 2")

1 is less than 2

elif statement

In [30]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is less than z

Application 3

In [32]:
age = int(input())

if age>=18:
  print("you are qualified to vote")
else:
  print("you are not qualified to vote")

14
you are not qualified to vote

Nested if..Else

In [35]:
u = 41
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
else:
  print("u is below 10")
  print("u is below 20")

u is above 10
u is above 20

Loop Structure

In [57]:
week = ['sunday','saturday','monday','tuesday']
season = ["cloudy, sunny"]

for x in week:
  for y in season:
    print(x,y)

sunday cloudy, sunny
saturday cloudy, sunny
monday cloudy, sunny
tuesday cloudy, sunny

In [53]:
for x in week:
  if x =="Thursday":
    break
  print(x)

sunday
saturday

while loop

In [58]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5